{% extends "base.html" %}

{% block title %}Synchronise your prescriptions{% endblock %}

{% block pagetitle %}Synchronise your prescriptions{% endblock %}

{% block content %}

{% if found != 'found' %}
<div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
    <h2 class="nhsuk-error-summary__title" id="error-summary-title">
        There is a problem
    </h2>
    <div class="nhsuk-error-summary__body">
        <p>There is a problem with the reference number you entered.
        </p>
        <ul class="nhsuk-list nhsuk-error-summary__list">
            <li>
                <a href="#reference">No prescription sync request found. Double check your provided reference and try
                    again.</a>
            </li>
        </ul>
    </div>
</div>
{% endif %}

<p class="nhsuk-body">This service can be used to synchronise repeat prescriptions if you receive them at different
    times. After you have entered all of the information needed to synchronise your prescriptions, a prescription
    synchronisation request will be generated that you can give to your GP or other dispensing body.</p>

<h2 class="nhsuk-heading-l">What kinds of prescription can be synchronised?</h2>

<p class="nhsuk-body">Right now, this service is a proof of concept and can be used for tablets, capsules and other
    "solid-form" medications. It isn't recommended that you use this service for inhalers, creams and other "on-demand"
    medications which are more difficult to synchronise.</p>

<h2 class="nhsuk-heading-l">Before you start</h2>

<p class="nhsuk-body">Before you start, you'll need:</p>

<ul class="nhsuk-list nhsuk-list--bullet">
    <li>The names of the drugs on each of your prescriptions (as written on the prescription)</li>
    <li>The quantity of the drugs on each of your prescriptions</li>
    <li>The period which your prescription covers (i.e. the repeat cycle)</li>
</ul>

<a class="nhsuk-button" href="reference">Start now</a>

<h2 class="nhsuk-body">If you've used this service before</h2>

<p class="nhsuk-body">If you started creating a synchronisation request in the past, you should have made a note of your
    reference number. To continue with your synchronisation request, or to view your completed synchronisation request,
    you can enter it below.</p>

<form action="{% url 'resume' %}" method="POST">
    {% csrf_token %}
    <div class="nhsuk-form-group {% if found != 'found' %}nhsuk-form-group--error{% endif %}">
        <label class="nhsuk-label" for="reference">What is your reference number?</label>
        <div class="nhsuk-hint" id="reference-hint">Your reference number is made up of 6 characters which may be
            numbers or letters. For example, AA00A1.</div>
        {% if found != 'found' %}
        <span class="nhsuk-error-message" id="reference-error">
            <span class="nhsuk-u-visually-hidden">Error:</span> No prescription sync request found. Double check your
            provided reference and try
            again.
        </span>
        {% endif %}
        <input class="nhsuk-input nhsuk-input--width-10 {% if found != 'found' %}nhsuk-input--error{% endif %}" id="reference" name="reference" type="text">
    </div>

    <button class="nhsuk-button nhsuk-button--secondary" type="submit">Submit</button>

</form>

{% endblock %}