{% extends "base.html" %}

{% block title %}Add your prescriptions{% endblock %}
{% block pagetitle %}Add your prescriptions{% endblock %}

{% block content %}

{% if messages %}
<div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
    <h2 class="nhsuk-error-summary__title" id="error-summary-title">
        There is a problem
    </h2>
    <div class="nhsuk-error-summary__body">
        <p>There is a problem with your prescriptions.
        </p>
        <ul class="nhsuk-list nhsuk-error-summary__list">
            {% for message in messages %}
            <li>
                <a href="#addPrescription">
                    {{ message }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<p class="nhsuk-body">This page lists all of the prescriptions you want to synchronise. You must add at least two
    prescriptions to synchronise. If you want to adjust the frequency of your prescription, you can use the change links
    next to the frequency. If you want to view or edit the items on each prescription, use the view links.</p>

{% if syncRequest.prescription_set.all %}
<table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Your prescriptions</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
            <th role="columnheader" class="" scope="col">
                Frequency in days
            </th>
            <th role="columnheader" class="" scope="col">
                Items
            </th>
            <th role="columnheader" class="" scope="col">
                Action
            </th>
        </tr>
    </thead>
    <tbody class="nhsuk-table__body">
        {% for prescription in syncRequest.prescription_set.all %}
        <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Frequency in days </span>
                {{ prescription.frequency }} <a href="{% url 'editfrequency' prescription_id=prescription.id %}">Change
                    <span class="nhsuk-u-visually-hidden"> frequency of prescription {{ forloop.counter }}</span>
                </a>
            </td>
            <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Items </span>
                <ul class="nhsuk-list">
                    {% for quantity in prescription.quantity_set.all %}
                    <li>{{ quantity.drug.name }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Action </span>
                <a href="{% url 'prescription' prescription_id=prescription.id %}">View
                    <span class="nhsuk-u-visually-hidden"> prescription {{ forloop.counter }}</span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<a id="addPrescription"
    class="nhsuk-button nhsuk-button--secondary {% if syncRequest.prescription_set.all %}nhsuk-u-margin-top-5{% endif %}"
    href="{% url 'frequency' %}">Add prescription</a>


{% if syncRequest.prescription_set.all|length > 1 %}

<p class="nhsuk-body">If you've added all of your prescriptions, the button below 
    will generate your prescription synchronisation request.</p>

<a class="nhsuk-button" href="{% url 'calculate' %}">Submit</a>
{% endif %}

{% endblock %}