{% extends "base.html" %}

{% block title %}Add the items on your prescription{% endblock %}
{% block pagetitle %}Add the items on your prescription{% endblock %}

{% block content %}

{% if messages %}
<div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
    <h2 class="nhsuk-error-summary__title" id="error-summary-title">
        There is a problem
    </h2>
    <div class="nhsuk-error-summary__body">
        <p>There is a problem with your prescription.
        </p>
        <ul class="nhsuk-list nhsuk-error-summary__list">
            {% for message in messages %}
            <li>
                <a href="{{ message.extra_tags }}">
                    {{ message }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<p class="nhsuk-body">This page lists all of the items you have added to this prescription. You must add at least one
    item to your prescription in order to continue. If you need to change some of the details of an item, such as the
    quantity you have in stock, or if your dosage has changed, you can use the edit links to make these changes.</p>

{% if prescription.quantity_set.all %}
<table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Your prescription items</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
            <th role="columnheader" class="" scope="col">
                Drug name
            </th>
            <th role="columnheader" class="" scope="col">
                Dosage
            </th>
            <th role="columnheader" class="" scope="col">
                In stock
            </th>
            <th role="columnheader" class="" scope="col">
                Action
            </th>
        </tr>
    </thead>
    <tbody class="nhsuk-table__body">
        {% for quantity in prescription.quantity_set.all %}
        <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Drug name </span> {{ quantity.drug.name }}
            </td>
            <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Dosage </span>
                {% if quantity.dosage != -1 %}
                    {{ quantity.dosage }} per {% if quantity.period == 1 %}day{% else %}week{% endif %}
                {% endif %}
            </td>
            <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">In stock </span>
                {% if quantity.inStock != -1 %}{{ quantity.inStock }}
                {% if quantity.rawStock > quantity.inStock %}(Capped){% endif %}
                {% endif %}
            </td>
            <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Action </span>
                <a id="editLink{{ quantity.id }}"
                    href="{% url 'edititemname' prescription_id=prescription.id quantity_id=quantity.id %}">Edit
                <span class="nhsuk-u-visually-hidden"> {{ quantity.drug.name }}</span></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<a id="addItem"
    class="nhsuk-button nhsuk-button--secondary {% if prescription.quantity_set.all %}nhsuk-u-margin-top-5{% endif %}"
    href="{% url 'itemname' prescription_id=prescription.id %}">Add item</a>

{% if prescription.quantity_set.all %}

<p class="nhsuk-body">If you've added all of your items, the button 
    below will return you to the prescription list.</p>

<a class="nhsuk-button" href="{% url 'checkitems' prescription_id=prescription.id %}">Continue
    <span class="nhsuk-u-visually-hidden"> to main synchronisation request page</span></a>
{% endif %}

{% endblock %}