{% extends "base.html" %}

{% block title %}Add your prescriptions{% endblock %}
{% block pagetitle %}Add your prescriptions{% endblock %}

{% block content %}

<p class="nhsuk-body">Some text explaining this page</p>

{% if syncRequest.prescription_set.all %}
<table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Your prescriptions</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
            <th role="columnheader" class="" scope="col">
                Frequency in days
            </th>
            <th role="columnheader" class="" scope="col">
                Items
            </th>
            <th role="columnheader" class="" scope="col">
                Action
            </th>
        </tr>
    </thead>
    <tbody class="nhsuk-table__body">
        {% for prescription in syncRequest.prescription_set.all %}
        <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Frequency in days </span>7 to 9 years
            </td>
            <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Items </span>
                <ul class="nhsuk-list">
                {% for quantity in prescription.quantity_set.all %}
                    <li>{{ quantity.drug.name }}</li>
                {% endfor %}
                </ul>
            </td>
            <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Action </span>
                <a href="{% url 'viewprescription' %}">View</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<a class="nhsuk-button nhsuk-button--secondary" href="{% url 'frequency' %}">Add prescription</a>

<p class="nhsuk-body">
    A little something explaining that you can't continue until you've added at least two prescriptions.
</p>

<a class="nhsuk-button" href="{% url 'calculate' %}">Submit</a>

{% endblock %}